# Financial Data Analysis

#### Note : This project is an to test Data Visualization and pandas skills and not be treated as any kind of financial advice. Purely for academic purpose.

#### This will be analysis of bank stocks starting from period from Jan 1st 2006 to Jan 1st 2016 ( from just before financial crash to 2016 )

#### We will be using panads-datareader to load stock data directly from internet ( google finance ).

In [1]:
from pandas_datareader import data, wb
import pandas as pd
import numpy as np
import datetime
%matplotlib inline

#### We will be using pandas datareader to get the stock prices data for following stocks
*  Bank of America
* CitiGroup
* Goldman Sachs
* JPMorgan Chase
* Morgan Stanley
* Wells Fargo

Reference : [pandas_datareader](https://pandas-datareader.readthedocs.io/en/latest/remote_data.html)

#### Setting start date and end date in datetime format ( required for DataReader call ).

In [16]:
start = datetime.datetime(2006,1,1)
end = datetime.datetime(2016,1,1)

#### Fetching data for banks from intenet

In [19]:
#Bank of America
BAC = data.DataReader("BAC",'yahoo',start,end)
#Citibank
C = data.DataReader("C",'yahoo',start,end)
#Goldman Sachs
GS = data.DataReader("GS",'yahoo',start,end)
#JP Morgan
JPM = data.DataReader("JPM",'yahoo',start,end)
#Morgan Stanely
MS = data.DataReader("MS",'yahoo',start,end)
#Wells Fargo
WFC = data.DataReader("WFC",'yahoo',start,end)

In [20]:
BAC.head()

                 High        Low       Open      Close      Volume  Adj Close
Date
2006-01-03  47.180000  46.150002  46.919998  47.080002  16296700.0  34.596096
2006-01-04  47.240002  46.450001  47.000000  46.580002  17757900.0  34.228691
2006-01-05  46.830002  46.320000  46.580002  46.639999  14970700.0  34.272778
2006-01-06  46.910000  46.349998  46.799999  46.570000  12599800.0  34.221321
2006-01-09  46.970001  46.360001  46.720001  46.599998  15619400.0  34.243366

In [21]:
tickers = ['BAC','C','GS','JPM','MS','WFC']

#### Concat all bank dataframes, set keys = ticker... for multilevel columns

In [24]:
bank_stocks = pd.concat([BAC,C,GS,JPM,MS,WFC], axis = 1, keys=tickers)

In [25]:
bank_stocks

                  BAC                                                          \
                 High        Low       Open      Close      Volume  Adj Close
Date
2006-01-03  47.180000  46.150002  46.919998  47.080002  16296700.0  34.596096
2006-01-04  47.240002  46.450001  47.000000  46.580002  17757900.0  34.228691
2006-01-05  46.830002  46.320000  46.580002  46.639999  14970700.0  34.272778
2006-01-06  46.910000  46.349998  46.799999  46.570000  12599800.0  34.221321
2006-01-09  46.970001  46.360001  46.720001  46.599998  15619400.0  34.243366
...               ...        ...        ...        ...         ...        ...
2015-12-24  17.379999  17.219999  17.320000  17.270000  29369400.0  15.651771
2015-12-28  17.230000  16.980000  17.219999  17.129999  41777500.0  15.524892
2015-12-29  17.350000  17.160000  17.250000  17.280001  45670400.0  15.660836
2015-12-30  17.240000  17.040001  17.200001  17.049999  35066400.0  15.452384
2015-12-31  17.070000  16.830000  17.010000  16.830000  47153000.0  15.252998

                     C                                      ...         MS  \
                  High         Low        Open       Close  ...       Open
Date                                                        ...
2006-01-03  493.799988  481.100006  490.000000  492.899994  ...  57.169998
2006-01-04  491.000000  483.500000  488.600006  483.799988  ...  58.700001
2006-01-05  487.799988  484.000000  484.399994  486.200012  ...  58.549999
2006-01-06  489.000000  482.000000  488.799988  486.200012  ...  58.770000
2006-01-09  487.399994  483.000000  486.000000  483.899994  ...  58.630001
...                ...         ...         ...         ...  ...        ...
2015-12-24   52.970001   52.450001   52.480000   52.709999  ...  32.570000
2015-12-28   52.570000   51.959999   52.570000   52.380001  ...  32.360001
2015-12-29   53.220001   52.740002   52.759998   52.980000  ...  32.439999
2015-12-30   52.939999   52.250000   52.840000   52.299999  ...  32.500000
2015-12-31   52.389999   51.750000   52.070000   51.750000  ...  31.910000

                                                   WFC                        \
                Close     Volume  Adj Close       High        Low       Open
Date
2006-01-03  58.310001  5377000.0  36.867344  31.975000  31.195000  31.600000
2006-01-04  58.349998  7977800.0  36.892612  31.820000  31.365000  31.799999
2006-01-05  58.509998  5778000.0  36.993786  31.555000  31.309999  31.500000
2006-01-06  58.570000  6889800.0  37.031731  31.775000  31.385000  31.580000
2006-01-09  59.189999  4144500.0  37.423725  31.825001  31.555000  31.674999
...               ...        ...        ...        ...        ...        ...
2015-12-24  32.480000  2798200.0  28.702150  55.090000  54.709999  54.970001
2015-12-28  32.169998  5420300.0  28.428209  54.779999  54.169998  54.549999
2015-12-29  32.549999  6388200.0  28.764009  55.349998  54.990002  55.110001
2015-12-30  32.230000  5057200.0  28.481230  55.310001  54.790001  55.270000
2015-12-31  31.809999  8154300.0  28.110079  54.950001  54.220001  54.509998


                Close      Volume  Adj Close
Date
2006-01-03  31.900000  11016400.0  20.723480
2006-01-04  31.530001  10870000.0  20.483118
2006-01-05  31.495001  10158000.0  20.460379
2006-01-06  31.680000   8403800.0  20.580564
2006-01-09  31.674999   5619600.0  20.577309
...               ...         ...        ...
2015-12-24  54.820000   4999400.0  46.380711
2015-12-28  54.680000   8288800.0  46.262257
2015-12-29  55.290001   7894900.0  46.778351
2015-12-30  54.889999   8016900.0  46.439926
2015-12-31  54.360001  10929800.0  45.991516

[2517 rows x 36 columns]